@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root,[data-theme = "light"]{
    --bg: #D8D8D8;
    --bg-layer: #D2D2D2;
    --primary: #5D5E61;
    --secondary: #222016;
    --img-filter: brightness(1);
}

[data-theme = "dark"]{
    --bg: #565656;
    --bg-layer: #373737;
    --primary: #D2D2D2;
    --secondary: #F9F9F9;
    --img-filter: brightness(.85) contrast(1.2);
}

.intro-para{
    padding: 10%;
    font-weight: 200;
}

main{
    border: 2px solid var(--primary);
    font-family: "Open Sans", sans-serif;
    background-image: url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png");
    background-size: 700px;
}

header h1{
    font-weight: 200;
}

header h2{
    font-weight: 100;
}

body{
    background-color: var(--bg);
    color: var(--primary);
}

nav li{
    list-style: none;
}

nav a{
    color: var(--primary);
    text-decoration: none;
    font-weight: 700;
}

nav a:hover{
    color: var(--secondary);
}

nav a:active{
    text-decoration: underline;
}

.form-check-input{
    background-color: var(--bg);
    box-shadow: 0px 0px 3px var(--primary);
}

.form-check-input:checked{
    background-color: var(--bg);
    box-shadow: 0px 0px 3px var(--primary);
}

.project-card{
    padding: 1%;
    background-color: var(--bg-layer);
    box-shadow: 3px 3px 5px #333;
}

.project-content{
    padding: 5%;
}

.project-content h3{
    font-weight: 700;
    font-size: 100%;
}

.project-card h4{
    font-weight: 200;
}

.project-card img{
    filter: var(--img-filter);
}

.contact-box{
    padding: 5%;
}

.contact-box h3{
    font-weight: 200;
    font-size: 100%;
}

.contact-box a{
    color: var(--secondary);
    text-decoration: none;
    font-weight: 600;
}

.contact-box a:hover{
    color: var(--secondary);
    text-decoration: underline;
    font-weight: 600;
}

.contact-info{
    /* border: 1px solid var(--primary); */
    background-color: var(--bg-layer);
    padding: 10%;
    box-shadow: 5px 5px 5px #333;
}
