@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
    background-color: rgb(247, 245, 239);
    font-family: "Mulish", sans-serif;
}

.outer-container{
    border-radius: 15px;
    border: 6px solid #3b3b3b;
    margin: 3% 5%;
    background-color: rgb(249,244,227);
}

header ul{
    list-style: none;
}

header{
    border: 6px solid #3b3b3b;
    border-radius: 50px;
    padding: 1%;
    background-color: rgb(247, 245, 239);
}

header a{
    color: #3b3b3b;
    text-decoration: none;
}

header a:hover{
    color: #595959;
    text-decoration: underline;
}

h1,h2,h3{
    font-weight: 700;
}

.coffee-img{
    border: 6px solid #3b3b3b;
    border-radius: 15px;
}

.return-link{
    color: #777;
    text-decoration: none;
}

.return-link:hover{
    color: black;
    text-decoration: underline;
}

@media (max-width: 991.98px) { 
    .outer-container{
        background-color: rgb(249, 230, 227);
    }
}
